# Global
.DS_Store

# Rails (Backend)
/hotel-reservation-api/.bundle
/hotel-reservation-api/log/*
/hotel-reservation-api/tmp/*
!/hotel-reservation-api/log/.keep
!/hotel-reservation-api/tmp/.keep
/hotel-reservation-api/tmp/pids/*
!/hotel-reservation-api/tmp/pids/
!/hotel-reservation-api/tmp/pids/.keep
/hotel-reservation-api/config/master.key
/hotel-reservation-api/.env*

# React (Frontend)
hotel-reservation-frontend/logs
hotel-reservation-frontend/*.log
hotel-reservation-frontend/npm-debug.log*
hotel-reservation-frontend/yarn-debug.log*
hotel-reservation-frontend/yarn-error.log*
hotel-reservation-frontend/pnpm-debug.log*
hotel-reservation-frontend/lerna-debug.log*
hotel-reservation-frontend/node_modules
hotel-reservation-frontend/dist
hotel-reservation-frontend/dist-ssr
hotel-reservation-frontend/*.local
hotel-reservation-frontend/.env*

# Editor directories and files
hotel-reservation-frontend/.vscode/*
hotel-reservation-frontend/!.vscode/extensions.json
hotel-reservation-frontend/.idea
hotel-reservation-frontend/*.suo
hotel-reservation-frontend/*.ntvs*
hotel-reservation-frontend/*.njsproj
hotel-reservation-frontend/*.sln
hotel-reservation-frontend/*.sw?
